Source: librtcc-chipkit
Section: libraries
Priority: extra
XBSC-Group: Time
XBSC-Subgroup: RTC
XBSC-Family: pic32
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: librtcc-chipkit
Architecture: all
Provides: RTCC.h
Depends: chipkit
Description: RTCC library for chipkit

